.country-card {
    transition: transform 0.3s;
}
.country-card:hover {
    transform: translateY(-5px);
}
.flag-img {
    height: 150px;
    object-fit: cover;
}

.btn-dark{
    border: grey solid 2px;
}

.btn-theme{
    border: rgb(205, 205, 205) solid 2px;

}

#toggleThemeBtn{
    margin-top: 2%;
    margin-left: 9%;
}

.py-5 {
    padding-top: 1rem !important;
}

#regionDropdown{
    margin-bottom: 2%;
}